<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />
    <script src="http://cdn.kendostatic.com/2015.1.429/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
    <script>
        $(document).ready(function () {
            var UrlBase = "/";
            $("#grid").kendoGrid({
                dataSource: {

                    dataType: "jsonp",
                    transport: {
                        read: {
                            url: UrlBase + "api/Course",
                            contentType: "application/json; charset=utf-8",
                            type: "GET"
                        },
                        create: {
                            url: UrlBase + "api/Course",
                            contentType: "application/json; charset=utf-8",
                            type: "POST"
                        },
                        update: {
                            url: UrlBase + "api/Course",
                            contentType: "application/json; charset=utf-8",
                            type: "PUT"
                        },
                        destroy: {
                            url: UrlBase + "api/Course",
                            contentType: "application/json; charset=utf-8",
                            type: "DELETE"
                        },
                        parameterMap: function (data, operation) {
                            if (operation !== "read") {
                                return kendo.stringify(data);
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { type: "string", editable: true, nullable: false },
                                Name: { type: "string", editable: true, nullable: false },
                                Description: { type: "string", editable: true },
                                Date: { type: "string", editable: true, nullable: false },
                                Time: { type: "string", editable: true, nullable: false },
                                Aboard: { type: "string", editable: true, nullable: false },
                                Getoff: { type: "string", editable: true, nullable: false },
                                Number: { type: "string", editable: true, nullable: false },
                                Site: { type: "string", editable: true, nullable: false },
                                Price: { type: "string", editable: true, nullable: false }
                            }
                        }
                    }

                },
                height: 400,
                sortable: true,
                scrollable: false,
                sortable: true,
                filterable: false,

                editable: {
                    confirmation: function (e) {
                        return "確定刪除編號 " + e.Id + "," + e.Name + "?";
                    },
                    mode: "inline"
                },
                toolbar: [{
                    type: "button",
                    name: "create",
                    text: "新增"
                }],
                pageable: false,
                columns: [
                    { field: "Id", title: "編號", width: "5px" },
                    { field: "Name", title: "姓名", width: "40px" },
                    { field: "Date", title: "日期", width: "40px" },
                    { field: "Time", title: "時間", width: "40px" },
                    { field: "Aboard", title: "上車站", width: "40px" },
                    { field: "Getoff", title: "下車站", width: "40px" },
                    { field: "Number", title: "車次", width: "40px" },
                    { field: "Description", title: "數量", width: "40px" },
                    { field: "Site", title: "座位", width: "40px" },
                    { field: "Price", title: "價格", width: "40px" },

                    {
                        command: [{
                            title: "",
                            name: "edit",
                            text: {
                                edit: "修改",
                                update: "新增",
                                cancel: "取消",
                            }
                        }, {
                            name: "destroy",
                            text: "刪除"
                        }],
                        width: "40px", title: "Command",
                    },


                ]
            });

        });


    </script>
    <script type="text/javascript">


        $(document).ready(function () {
            var North = '<option value="臺北轉運站">臺北轉運站</option>\n\
                            <option value="三重站">三重站</option>\n\
                            <option value="南崁站">南崁站</option>\n\
                            <option value="中壢站">中壢站</option>\n\
                            <option value="板橋站">板橋站</option>\n\
                            <option value="中和站">中和站</option>\n\
                            <option value="市府轉運站">市府轉運站</option>\n\
                            <option value="三峽站">三峽站</option>\n\
                            <option value="景美站">景美站</option>\n\
                            <option value="三峽站">新店站</option>';

            var Taichung = '<option value="豐原站">豐原站</option>\n\
                            <option value="東勢站">東勢站</option>\n\
                            <option value="台中車站">台中車站</option>\n\
                            <option value="水湳站">水湳站</option>\n\
                            <option value="朝馬站">朝馬站</option>';

            var Changhua = '<option value="彰化交流道站">彰化交流道站</option>\n\
                            <option value="彰化站">彰化站</option>\n\
                            <option value="員林站">員林站</option>\n\
                            <option value="溪湖站">溪湖站</option>\n\
                            <option value="二林站">二林站</option>';

            var Yunlin = '<option value="北港站">北港站</option>\n\
                            <option value="虎尾站">虎尾站</option>\n\
                            <option value="西螺站">西螺站</option>\n\
                            <option value="嘉義轉運站">嘉義轉運站</option>\n\
                            <option value="嘉義北港路站">嘉義北港路站</option>\n\
                            <option value="大林站">大林站</option>';

            var South = '<option value="北門站">北門站</option>\n\
                            <option value="鹽行站">鹽行站</option>\n\
                            <option value="新營站">新營站</option>\n\
                            <option value="麻豆站">麻豆站</option>\n\
                            <option value="仁德站">仁德站</option>\n\
                            <option value="中華站">中華站</option>\n\
                            <option value="建國站">建國站</option>\n\
                            <option value="中正站">中正站</option>\n\
                            <option value="楠梓站">楠梓站</option>\n\
                            <option value="岡山站">岡山站</option>\n\
                            <option value="屏東站">屏東站</option>\n\
                            <option value="麟洛站">麟洛站</option>';

            $("#AboardArea").change(function () {
                $("#AboardStation > *").remove();
                $('<option value="First Option">請選擇區域</option>').appendTo("#AboardStation");

                switch ($("#AboardArea").val()) {
                    case "1":
                        $(North).appendTo("#AboardStation");
                        break;
                    case "2":
                        $(Taichung).appendTo("#AboardStation");
                        break;
                    case "3":
                        $(Changhua).appendTo("#AboardStation");
                        break;
                    case "4":
                        $(Yunlin).appendTo("#AboardStation");
                        break;
                    case "5":
                        $(South).appendTo("#AboardStation");
                        break;
                    default:
                        alert("請重新選擇上車區域");
                        break;

                }
            });

            $("#GetoffArea").change(function () {
                $("#GetoffStation > *").remove();
                $('<option value="First Option">請選擇區域</option>').appendTo("#GetoffStation");

                switch ($("#GetoffArea").val()) {
                    case "1":
                        $(North).appendTo("#GetoffStation");
                        break;
                    case "2":
                        $(Taichung).appendTo("#GetoffStation");
                        break;
                    case "3":
                        $(Changhua).appendTo("#GetoffStation");
                        break;
                    case "4":
                        $(Yunlin).appendTo("#GetoffStation");
                        break;
                    case "5":
                        $(South).appendTo("#GetoffStation");
                        break;
                    default:
                        alert("請重新選擇下車區域");
                        break;

                }

            });
            $("#submit").click(function () {
                $.ajax({
                    url: "http://localhost:1073/api/Course",
                    type: 'POST',
                    data: {
                        Id: "2",
                        Name: $("#Name").val(),
                        Description: $("#Quantity").val(),
                        Date: $("#Date").val(),
                        Time: $("#Time").val(),
                        Aboard: $("#AboardStation").val(),
                        Getoff: $("#GetoffStation").val(),
                        Number: "1620",
                        Site: "10",
                        Price: "500"
                    },
                    dataType: 'json',
                    success: function (data) {
                        alert("新增成功   網頁將於2秒後跳轉...");
                    },
                    error: function () {
                        alert("");
                    }
                });
            });

            $(".timePicker").kendoTimePicker({
                interval: 120,
                format: "HH:mm",
                min: new Date(2015, 6, 15, 6, 10, 0),
                max: new Date(2015, 6, 15, 24, 10, 0),
            });
        });

    </script>
    <style type="text/css">
        body {
            font-family: 'Kozuka Gothic Pr6N','微軟正黑體';
        }

        h1, label {
            color: royalblue;
            font-family: '微軟正黑體';
        }

        .ui-btn {
            font-family: '微軟正黑體';
            color: royalblue;
        }
    </style>
</head>
<body>
    <div data-theme="a" data-role="page" id="index">
        <div data-role="header">
            <h1>Kuas 訂票</h1>
            <a href="#index" data-transition="slide" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">首頁</a>
            <a href="#search" data-transition="slide" class="ui-btn ui-corner-all ui-shadow  ui-icon-grid ui-btn-icon-left">查詢</a>
        </div>
        <div data-role="main" class="ui-content">
            <div data-role="navbar">
                <ul>
                    <li><a href="#addnew" data-icon="plus">開始訂票</a></li>
                    <li><a href="#" data-icon="check">修改訂票</a></li>
                </ul>
            </div>
        </div>
        <div id="forms" data-role="view" data-title="Form Elements" data-init="initForm" data-use-native-scrolling="true">
            <form action="./index.html">
                <ul data-role="listview" data-style="inset">
                    <li>
                        <label>
                            <label>
                                上車地點
                            </label>
                            <select id="AboardArea">
                                <option value="First Option" disabled>請選擇上車區域</option>
                                <option value="1">北桃竹苗區</option>
                                <option value="2">台中區</option>
                                <option value="3">彰化南投區</option>
                                <option value="4">雲林嘉義區</option>
                                <option value="5">南高屏區</option>
                            </select>
                            <label>

                            </label>
                            <select id="AboardStation">
                                <option value="First Option">請選擇上車站</option>
                            </select>
                        </label>
                    </li>
                    <li>
                        <label>
                            <label>
                                下車地點
                            </label>
                            <select id="GetoffArea">
                                <option value="First Option" disabled>請選擇下車區域</option>
                                <option value="1">北桃竹苗區</option>
                                <option value="2">台中區</option>
                                <option value="3">彰化南投區</option>
                                <option value="4">雲林嘉義區</option>
                                <option value="5">南高屏區</option>
                            </select>
                            <label>
                                下車站
                            </label>
                            <select id="GetoffStation">
                                <option value="First Option">請選擇下車站</option>
                            </select>
                        </label>
                    </li>
                    <li>
                        <label>
                            乘車日期
                        </label>
                        <input id="Date" type="date" value="2015-06-08" />
                    </li>
                    <li>
                        <label>
                            乘車時間
                        </label>
                        <input id="Time" class="timePicker" value="06:00: AM" />
                    </li>
                    <li>  
                        <label>
                            班次
                            <input id="Number" type="text" placeholder="班次" />
                        </label>
                    </li>
                    <li>
                        <label>
                            訂票張數
                            <input id="Quantity" type="text" placeholder="訂票張數" />
                        </label>
                    </li>
                    <li>
                        <label data-icon="check">
                            購票人姓名
                            <input id="Name" type="text" placeholder="姓名" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <button id="submit">送出</button>
                            <button id="clear">清除</button>
                        </label>
                    </li>
                </ul>
            </form>
        </div>
        <script>
            function initForm() {
                var body = $(".km-pane");

                if (kendo.ui.DropDownList) {
                    $("#dropdown").kendoDropDownList({
                        // The options are needed only for the desktop demo, remove them for mobile.
                        popup: { appendTo: body },
                        animation: { open: { effects: body.hasClass("km-android") ? "fadeIn" : body.hasClass("km-ios") || body.hasClass("km-wp") ? "slideIn:up" : "slideIn:down" } }
                    });
                }

                if (kendo.ui.Slider) {
                    $("#slider").kendoSlider({ tooltip: { enabled: false } });
                }
            }
        </script>
        <script>
            var app = new kendo.mobile.Application(document.body);
        </script>
        <div data-role="footer" style="text-align:center;">
            2015 ASP.NET by KuasMis&reg;
        </div>
    </div>
    <!-- Page 2 -->
    <div data-role="page" id="search">
        <div data-role="header">
            <h1>查詢訂票</h1>
            <a href="#index" data-transition="slide" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">首頁</a>
        </div>
        <div class="content-pane">
            <div id="grid"></div>
        </div>
        <div data-role="footer" style="text-align:center;">
            2015 ASP.NET by KuasMis&reg;
        </div>
    </div>
    <!-- Page 3 -->
    <div data-role="page" id="addnew">
        <div data-role="header">
            <h1>查詢訂票</h1>
            <a href="#index" data-transition="slide" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">首頁</a>
            <a href="#search" data-transition="slide" class="ui-btn ui-corner-all ui-shadow  ui-icon-grid ui-btn-icon-left">查詢</a>
        </div>
        <div class="content-pane">
            <div id="grid"></div>
        </div>
        <div data-role="footer" style="text-align:center;">
            2015 ASP.NET by KuasMis&reg;
        </div>
    </div>
    <!-- Page 4 -->
    <div data-role="page" id="4444">
        <div data-role="header">
            <h1>查詢訂票</h1>
            <a href="#index" data-transition="slide" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">首頁</a>
            <a href="#search" data-transition="slide" class="ui-btn ui-corner-all ui-shadow  ui-icon-grid ui-btn-icon-left">查詢</a>
        </div>
        <div class="content-pane">
            <div id="grid"></div>
        </div>
        <div data-role="footer" style="text-align:center;">
            2015 ASP.NET by KuasMis&reg;
        </div>
    </div>
</body>
</html>
